<div class="col">
  <div class="d-flex flex-column sidebar">
    <%= link_to root_path, class: "px-3 py-2 rounded-pill" do %>
      <i class="bi bi-twitter sidebar-logo"></i>
    <% end %>
    <%= link_to root_path, class: "px-3 py-2 rounded-pill" do %>
      <i class="bi bi-house me-2"></i>
      Home
    <% end %>
    <%= link_to root_path, class: "px-3 py-2 rounded-pill" do %>
      <i class="bi bi-hash me-2"></i>
      Explore
    <% end %>
    <%= link_to root_path, class: "px-3 py-2 rounded-pill" do %>
      <i class="bi bi-bell me-2"></i>
      Notifications
    <% end %>
    <%= link_to root_path, class: "px-3 py-2 rounded-pill" do %>
      <i class="bi bi-envelope me-2"></i>
      Messages
    <% end %>
    <%= link_to root_path, class: "px-3 py-2 rounded-pill" do %>
      <i class="bi bi-bookmark me-2"></i>
      Bookmarks
    <% end %>
    <%= link_to root_path, class: "px-3 py-2 rounded-pill" do %>
      <i class="bi bi-person me-2"></i>
      Profile
    <% end %>

    <div class="px-3 mt-3">
      <%= button_tag "Tweet", class: "btn btn-primary btn-lg rounded-pill w-100", data: { "bs-toggle": "modal", "bs-target": "#exampleModal" } %>
    </div>
    <div class="px-3 mt-3">
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-link text-decoration-none" %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close mx-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "shared/tweet_form" %>
      </div>
    </div>
  </div>
</div>